<div class="wrapper wrapper-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= simple_form_for @user do |f| %>
          <%= f.input :first_name, label: false, placeholder: "Prénom", class: "form-control" %>
          <%= f.input :last_name, label: false, placeholder: "Nom", class: "form-control" %>
          <%= f.input :email, label: false, placeholder: "Email", class: "form-control" %>
          <%= f.input :image, placeholder: "Url de l'image", class: "form-control" %>
          <%= f.submit "Valider", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
