<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= link_to "Ajouter un utilisateur", new_user_path %>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
            <h2><%= user.first_name %> <%= user.last_name %></h2>
          <% end %>
          <p><%= user.email %></p>
          <%= image_tag user.image %>
        <% end %>
      </div>
    </div>
  </div>
</div>
