<div class="wrapper wrapper-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <h2>Ajouter un utilisateur</h2>
        <%= simple_form_for @user do |f| %>
              <%= f.input :first_name, label: false, placeholder: "Prénom", class: "form-control"%>
              <%= f.input :last_name, placeholder: "Nom", label: false, class: "form-control"%>
              <%= f.input :email, placeholder: "Email", label: false, class: "form-control"%>
              <%= f.input :image, class: "form-control" %>
              <%= f.input :image_cache, as: :hidden %>
              <%= f.submit "Valider", class: "btn btn-default"%>
        <% end %>
      </div>
    </div>
  </div>
</div>



