<div class="wrapper wrapper-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <h2>Ajouter un livre</h2>
        <%= simple_form_for @book do |f| %>
          <%= f.input :title, label: false, placeholder: "Titre", class: "form-control" %>
          <%= f.input :author, label: false, placeholder: "Auteur", class: "form-control" %>
          <%= f.input :resume, label: false, placeholder: "Résumé", class: "form-control", as: :text %>
          <%= f.submit "Valider", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
